.container {
    box-sizing: border-box;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    height: 100vh;
    width: 100%;
    padding: 1%;
    row-gap: 2%;
}

.title {
    font-size: 0.45rem;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8%;
    margin-bottom: 1%;
}

.content {
    border: 2px solid #ccc;
    display: grid;
    grid-template-columns: 1fr 1fr 0.25fr;
    grid-template-rows: 1fr;
    column-gap: 1%;
    padding: 1%;
}

/*-------------------*/

.select {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 5%;
}

.div1 {
    grid-area: 1 / 1 / 2 / 3;
}
.div2 {
    grid-area: 2 / 1 / 3 / 2;
}
.div3 {
    grid-area: 2 / 2 / 3 / 3;
}

.selects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 5%;
}

.selector {
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
    background-color: white;
    color: black;
    padding: 0.2rem 2.2rem 0.2rem 0.2rem;
    font-size: 0.4rem;
    appearance: none;
    width: 100%;
}

/*-------------------*/

.date {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1%;
}

.button {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px #ccc;
    color: #002060;
    background-color: white;
    height: 30%;
    cursor: pointer;
}

.button:hover {
    background-color: #002060;
    color: white;
}

/*-------------------*/

.calendar > .button {
    background-color: #dedede;
    margin-left: calc((-25% + 15px));
    padding-inline: 15px;
}

.calendar > .button:hover {
    background-color: #002060;
    color: white;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar > div {
    position: absolute;
    top: 50%;
    left: 65%;
}

/*-------------------*/

.recherche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recherche > img {
    width: 50%;
    height: auto;
}

.recherche > button {
    border: none;
    background-color: white;
    color: black;
    font-size: 15px;
    cursor: pointer;
}

/*-------------------*/

.table_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 105%;
}

.table_title > .recherche > img {
    width: 15%;
    height: auto;
}

.table_title > .recherche > button {
    padding-block: 1%;
    cursor: pointer;
}
