.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 9px;
    margin: 9px 9px 0 0;
}
span {
    color: var(--bg-color);
}
h3 {
    font-size: 13px;
    color: var(--text-blue);
}
.selectButton {
    margin-right: 1rem;
    border-radius: 30px;
}
.selectButton > div {
    background: rgb(217, 217, 217) !important;
}
.kpiStyles {
    font-size: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttonSelect {
    margin-right: 1rem;
    padding: 7px;
    text-align: center;
    border-radius: 30px;
    background: #e5e7eb;
    font-size: 13px;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 14%;
    cursor: pointer;
}
.iconselect {
    font-size: 29px;
    border-left: 1px black solid;
    margin-left: 1rem;
}
.avancof {
    background: white;
    width: 80%;
    border-radius: 30px;
    height: 0.75vh;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.circleProgress {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin-top: 5px 1rem 1rem 1rem;
    align-items: center;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 1px 1px 4px 1px #d4d4e3;
}
.iconof {
    position: absolute;
    top: -26px;
    left: -1rem;
    width: 2.5rem;
}
.indicator {
    background-color: #d9d9d9;
    width: 50%;
    border-radius: 30px;
    margin-top: 1rem;
    padding-bottom: 2rem;
    height: auto;
    margin-left: 1rem;
    position: relative;
}
.buttonselect {
    margin-left: 1rem;
    display: flex;
}
.iconOf {
    position: absolute;
    left: -8%;
    width: 40px;
}
.spanOf {
    font-size: 13px;
    color: #002060;
}
.spanValue {
    color: #2ab023;
    font-size: 13px;
    margin-left: 11px;
}
.diVOF {
    position: relative;
    width: 80%;
    overflow: hidden;
    background-color: #e5e7eb;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    padding: 11px;
}
.divIndicator {
    background-color: #e5e7eb;
    margin-left: auto;
    margin-right: auto;
    width: 24%;
    margin-top: 1rem;
    text-align: center;
    font-size: 14px;
    padding: 1rem;
    display: flex;
    border-radius: 11px;
    flex-direction: column;
    padding-bottom: 11px;
}
.GaugeKPI {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.hrgauge {
    color: white;

    box-shadow: 1px 2px 2px white;
}
.divIndicatorblur {
    background-color: #e5e7eb;
    margin-left: auto;
    margin-right: auto;
    width: 24%;
    margin-top: 1rem;
    text-align: center;
    font-size: 14px;
    padding: 1rem;
    display: flex;
    border-radius: 11px;
    flex-direction: column;
    padding-bottom: 11px;
    filter: blur(2px);
}
.containerMachine {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}
.circle {
    background: rgba(217, 217, 217, 0.46);
    width: 119px;
    height: 119px;
    border-radius: 50%;
    position: relative;
}
.Intercircle {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 16px;
    text-align: center;
}
.spanCircle {
    font-size: 13px;
    text-align: center;
    top: 15px;
    position: absolute;
    left: 13px;
    color: black;
}
.spanKPI {
    font-size: 9px;
    margin: 0.5rem;
}

.divCircle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 130px;
}
.blocKpi {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 288px;
    height: 241px;
    margin-right: 30px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    line-height: 12px;
}

.ordreOF {
    font-size: 11px;
    font-weight: bold;
    color: var(--text-blue);
    position: relative;
    text-align: center;
    margin: 0;
}
.spansBlock {
    font-size: 11px;
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -35px;
}
.spanBlock {
    font-size: 11px;
    height: 175px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.divOF {
    position: relative;
    width: 80%;
    overflow: hidden;
    background-color: #e5e7eb;
    border-radius: 9999px;
    height: 0.75rem;
    margin-left: 9px;
    padding: 1rem;
}
.subDivOf {
    background-color: #347abc;
    height: 0.75rem;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}
.of {
    height: 150px;
}
.parametreProduction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    background-color: var(--bg);
    box-shadow: 2px 3px 9px 1px rgba(0, 0, 0, 0.25);
}
.container2 {
    margin-top: 4%;
    background-color: var(--bg);
    height: 268px;
    display: flex;
    flex-direction: column;
    padding: 9px;
}
.blokkpi2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg);
    box-shadow: 2px 3px 9px 1px rgba(0, 0, 0, 0.25);
    width: 288px;
    height: 200px;
    margin-right: 15px;
}
.divSPan {
    align-items: center;
    justify-content: space-between;
    margin-right: 15%;
    display: flex;
}
.value {
    font-weight: bold;
    color: #2ab023;
    font-size: 11px;
}
.blokkpi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg);
    box-shadow: 2px 3px 9px 1px rgba(0, 0, 0, 0.25);
    width: 288px;
    height: 200px;
    margin-right: 15px;
}
.spanBlok {
    font-size: 11px;
}
h4 {
    font-size: 11px;
    font-weight: bold;
    color: var(--text-blue);
    top: 0;
    position: relative;
    padding: 3%;
    text-align: center;
}
.rowIndic {
    display: flex;
    justify-content: space-between;
    height: 230px;
}
.blokSpans {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 175px;
    padding: 12px;
}
.progressCircle {
    background-color: var(--bg);
    width: 57%;
    height: 200px;
}
.titreCourbe {
    margin: 0;
    padding: 0px;
    color: var(--text-blue);
    text-decoration: underline;
}
th {
    font-size: 9px;
    text-align: center;
    background-color: #96cce0;
    padding: 7px;
}
.blocRes {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.BigBloc {
    display: flex;
    flex-direction: column;
}
.Bloks {
    display: flex;
}
.resInst {
    display: none;
}
.innercircle {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40%;
    border-radius: 50%;
}
@media screen and (max-width: 1080px) {
    .blocRes {
        display: flex;
        flex-direction: column;
    }
    .BigBloc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .circleProgress {
        justify-content: space-evenly;
    }
    .spansBlock {
        display: flex;
        flex-direction: column;
    }
    .blocKpi {
        background-color: var(--bg);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 228px;
        box-shadow: none;
        margin-top: 13px;
    }
    h4 {
        text-align: left;
    }
    .divOF {
        width: 200px;
        border-radius: 50px;
        background-color: var(--bg2-tr);
        height: 23px;
    }
    .container2 {
        height: 436px;
    }
    .titreCourbe {
        text-align: center;
    }
    .progressCircle {
        width: 100%;
    }
    .rowIndic {
        height: 430px;
        flex-direction: column;
    }
    .Bloks {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        margin-top: 20px;
    }
    .spanIndic {
        font-size: 12px;
    }
    .spanBlocKpi {
        height: 150px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .container {
        width: 98%;
        margin-top: 33px;
    }
    h3 {
        text-align: center;
    }
    .divSPan {
        align-items: center;
        justify-content: space-between;
        margin-right: 15%;
        display: flex;
    }
    .value {
        font-weight: bold;
        color: #2ab023;
        font-size: 11px;
    }
}

.percentageLine {
    position: absolute;
    height: 150%; /* adjust this value according to your desired height */
    border-left: 3px solid #000;
    top: 50%;
    transform: translateY(-50%);
}
.percentageText {
    color: white;
    font-size: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 600px) {
    #titreConso {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .progressCircle {
        display: none;
    }
    .titreArret {
        display: none;
    }
    .titre {
        font-size: 10px;
    }
    .blokSpans {
        margin-top: -5%;
        height: 345px;
    }
    .tableResponsive {
        overflow-x: auto;
        overflow-y: auto;
        max-width: 100%;
    }
    .tableResponsive table {
        border-collapse: collapse;
        width: max-content;
    }

    .tableResponsive th,
    .tableResponsive td {
        padding: 8px;
        border: 1px solid #ddd;
        width: 75px;
    }

    .tableResponsive th {
        background-color: #96cce0;
        font-weight: bold;
    }

    .Bloks {
        flex-direction: column;
    }
    .blokkpi {
        width: 108%;
        height: 226px;
        margin-top: 9%;
        background-color: transparent;
    }
    .blokkpi2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--bg);
        box-shadow: 2px 3px 9px 1px rgba(0, 0, 0, 0.25);
        width: 96%;
        height: 234px;
        margin-top: -9%;
    }
    .blokkpi3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--bg);
        box-shadow: 2px 3px 9px 1px rgba(0, 0, 0, 0.25);
        width: 96%;
        height: 234px;
        margin-top: 16px;
        border-radius: 9px;
    }
    .divSPan {
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .titreIndicateur {
        display: none;
    }
    .value {
        font-weight: bold;
        color: #2ab023;
        font-size: 11px;
    }
    .resInst {
        display: block;
    }
    .BigBloc {
        display: none;
    }

    .Histo {
        display: none;
    }
    .imageMachine {
        width: auto;
    }
    .blocKpi {
        width: 90%;
    }
    .arret {
        width: 174px;
    }
    #blokQuantite {
        margin-top: 5%;
    }
    .container {
        background-color: transparent;
    }
    .spanBlocKpi {
        width: 90%;
        border-radius: 9px;
    }
    .rowIndic {
        height: 257px;
    }
}
#avOF {
    font-size: 11px;
}
#spandivOf {
    display: flex;
    align-items: center;
    margin: 0.3rem;
    padding-top: 1rem;
}
@media screen and (max-width: 600px) {
    .progressCircle {
        display: none;
    }
    .titreArret {
        display: none;
    }
    .titre {
        font-size: 10px;
    }
    .blokSpans {
        margin-top: -5%;
        height: 345px;
    }
    .tableResponsive {
        overflow-x: auto;
        overflow-y: auto;
        max-width: 100%;
    }
    .tableResponsive table {
        border-collapse: collapse;
        width: max-content;
    }

    .tableResponsive th,
    .tableResponsive td {
        padding: 8px;
        border: 1px solid #ddd;
        width: 75px;
    }
    table {
        width: 100vw;
    }

    .tableResponsive th {
        background-color: #96cce0;
        font-weight: bold;
    }

    .Bloks {
        flex-direction: column;
    }
    .blokkpi {
        width: 105%;
        height: 226px;
        margin-top: 9%;
        background-color: transparent;
    }
    .blokkpi2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--bg);
        box-shadow: 2px 3px 9px 1px rgba(0, 0, 0, 0.25);
        width: 96%;
        height: 234px;
        margin-top: -9%;
    }
    .blokkpi3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--bg);
        box-shadow: 2px 3px 9px 1px rgba(0, 0, 0, 0.25);
        width: 96%;
        height: 234px;
        margin-top: 16px;
        border-radius: 9px;
    }
    .divSPan {
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .titreIndicateur {
        display: none;
    }
    .value {
        font-weight: bold;
        color: #2ab023;
        font-size: 11px;
    }
    .resInst {
        display: block;
    }
    .BigBloc {
        display: none;
    }

    .Histo {
        display: none;
    }
    .imageMachine {
        width: auto;
    }
    .blocKpi {
        width: 90%;
    }
    .arret {
        width: 174px;
    }
    #blokQuantite {
        margin-top: 5%;
    }
    .container {
        background-color: transparent;
        margin-top: 0px;
    }
    .spanBlocKpi {
        width: 90%;
        border-radius: 9px;
    }
    .titrre {
        display: none;
    }
    .titrePerf {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    #titreConso {
        display: none;
    }
    #blocenerg {
        height: 51px;
    }
    #blokener {
        height: 117px;
    }
}
