.Cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-block: 1rem;
}
.ManagmentDataH2 {
    text-align: left;
    font-size: 18px;
}
.secondFiltre {
    display: flex;
    flex-direction: column;
}
.KPICont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.ManagmentKPICharts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 99%;
    margin-bottom: 100px;
}
.ManagmentDataCharts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 200px;
}
.chart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.chartHeader {
    background-color: #6d6d6d;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 12px;
    margin-block: 1rem;
}
.toggle {
    margin-left: 75%;
    color: white;
}
.tableKPI {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.tableData {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.tableHeader {
    background-color: #6d6d6d;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px;
    width: 56rem;
}
.tableHeader2 {
    background-color: #6d6d6d;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px;
    width: 95%;
    font-size: 12px;
    margin-bottom: 1rem;
}
.downloadBtn {
    background-color: red;
}
#modalBody {
    text-align: center;
    margin-left: 12%;
}

@media screen and (max-width: 1700px) {
    .tableHeader {
        width: 49rem;
    }
}
