td {
    font-size: 12px;
    text-align: center;
    padding: 10px;
}
option {
    text-align: center;
}
.selectDiv {
    display: flex;
    justify-content: space-between;
}
.buttonfiltre {
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
    background-color: white;
    color: black;
    padding: 0.2rem 2.2rem 0.2rem 0.2rem;
    font-size: 0.4rem;
    appearance: none;
    width: 100%;
    margin-left: 0.3rem;
}

.calendar > .button {
    background-color: #dedede;
    margin-left: calc((-15% + 15px));
    padding-inline: 15px;
}

.calendar > .button:hover {
    background-color: #002060;
    color: white;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.date {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1%;
}
.calendar > div {
    position: absolute;
    top: 25%;
    left: calc(65% - 5rem);
}

.buttonSecondFiltre {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px #ccc;
    color: #002060;
    background-color: white;
    cursor: pointer;
    height: 1rem;
    width: 150px;
}

.filtre {
    padding: 1rem;
    border: 2px solid #ccc;
    display: grid;
    grid-template-columns: 1fr 1fr 0.25fr;
    grid-template-rows: 1fr;
    column-gap: 1%;
    width: 95%;
}
table {
    width: 99%;
    border-collapse: collapse;
    margin-left: 6px;
    table-layout: fixed;
}

td,
th {
    padding: 0.5rem;
    border: 1px solid #ddd;
    color: var(--bg-color);
}
thead,
th {
    top: 0;
    background-color: #96cce0;
}
.filtre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filtre2 {
    display: flex;
    align-items: center;
}
.searchbox {
    background: #666666;
    border-radius: 40px;
    padding: 2px;
    position: fixed;
    margin-top: 7px;
}
.searchbox:hover > .searchtxt {
    width: 240px;
    padding: 0 6px;
}
.searchbox:hover > .searchbtn {
    background: white;
    color: black;
}
.searchbtn {
    color: #eeeeee;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
}
.searchbtn > i {
    font-size: 16px;
}
.searchtxt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
    text-align: center;
}
.button {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px #ccc;
    color: #002060;
    background-color: white;
    cursor: pointer;
    height: 1rem;
}

#sousButton {
    background-color: white;
    padding: 1%;
    font-size: 11px;
    width: 122px;
    display: flex;
    flex-direction: column;
    margin-top: 137px;
    position: absolute;
    right: 214px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #dbd5d5;
    z-index: 1;
}

.spanB {
    text-align: left;
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: black;
    width: 75px;
}
.divTable {
    overflow: auto;
    margin-top: 4%;
    max-width: 100%;
}
.modalBody {
    margin-left: 12%;
}

.custom_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 90%;
    max-width: 600px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
#exportConso {
    padding: 9px;
    border: none;
    color: white;
    background-color: green;
    margin: 15px;
}
.custom_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}
h5 {
    font-size: 19px;
    text-decoration: underline;
}
.modalHeader {
    text-align: center;
    color: #165473;
    font-size: 1.5rem;
}
label {
    font-size: 0.5rem;
    padding-left: 5%;
}
#Btn {
    background-color: green;
    border: none;
    margin-left: 43%;
    padding: 2%;
    color: white;
}
.title {
    font-size: 0.45rem;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8%;
    margin-block: 1%;
}

.title > img {
    width: 2%;
    height: auto;
}

.optionWithIcon {
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 5px; /* Ajustez la marge selon vos besoins */
}
.consoFilters {
    margin-block: 1rem;
}
.tableConsommation {
    width: max-content;
}
@media screen and (max-width: 600px) {
    .searchbox {
        display: none;
    }
    .tableResponsive {
        overflow-x: auto;
        overflow-y: auto;
        max-width: 100%;
        width: auto;
        font-size: 8px;
        margin-top: 50px;
        background-color: var(--bg);
    }
    .tableResponsive table {
        border-collapse: collapse;
        width: max-content;
    }

    .tableResponsive th,
    .tableResponsive tr,
    .tableResponsive td {
        padding: 8px;
        border: 1px solid #ddd;
        min-width: max-content;
        white-space: nowrap;
    }

    .tableResponsive th {
        background-color: #96cce0;
        font-weight: bold;
    }

    .buttonfiltre {
        width: 83px;
        height: 29px;
        font-size: 11px;
    }
    .buttonSecondFiltre {
        width: 36px;
        height: 28px;
        font-size: 11px;
    }
    .date {
        padding: 4px;
    }
    #bTelecharger {
        display: none;
    }
    .tableTitle {
        position: fixed;
        left: 50%;
        translate: -50% 0;
        width: 100vw;
        z-index: -1;
    }
    .tableHistorique {
        width: max-content;
    }
}
