:root {
    --section-height: 328px;
}

.section {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bloc1 {
    width: 40%;
}

.bloc2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: var(--section-height);
}

.title {
    font-size: 0.75rem;
    font-weight: 900;
    color: #696969;
    padding: 5px;
    text-decoration: 5px underline;
    text-shadow: #696969 0.25px 0.25px;
}

.machineImage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.user {
    font-size: 10px;
    width: 100%;
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.user > * {
    margin: 0 10px;
}

.blocKpi {
    width: 22%;
    border-radius: 5px;
    box-shadow: 3px 4px 10px 7px rgba(0, 0, 0, 0.25);
    height: 240px;
}

.blocTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 0.4rem;
    color: #002060;
}

.etatIcon {
    width: 50px;
    rotate: 90deg;
}
.titreImageOf {
    position: relative;
    padding: 1%;
}
.divSPan {
    justify-content: space-between;
    width: 100%;
    display: flex;
}
.titreBloc {
    font-size: 0.4rem;
    color: 'black';
}
.of {
    width: 88%;
    margin-left: 1rem;
}
.titreValue {
    color: #002060;
    font-size: 14px;
    font-weight: 400;
}
.value {
    font-weight: bold;
    color: #2ab023;
    font-size: 11px;
}
.TM {
    background: #a8df63;
    padding: 11px;
    font-size: 11px;
    font-weight: 400;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    display: inline-block;
    width: 2rem;
    text-align: center;
}
.TA {
    background: red;
    padding: 11px;
    font-size: 11px;
    font-weight: 400;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: inline-block;
    width: 2rem;
    text-align: center;
}
.titleImage {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titreValueKPI {
    color: #00b0f0;
    font-weight: 700;
    font-size: 11px;
}
#divTitre {
    background-color: green;
    height: 275px;
    width: 39px;
    position: absolute;
}
.imageMachine {
    height: calc(var(--section-height) - 100px);
    width: 226px;
    object-fit: contain;
}

.iconOf {
    position: absolute;
    right: -8%;
    width: 40px;
}
.iconUser {
    height: 20px;
    width: auto;
}
.bloc {
    margin-left: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--bg);
}

.spanKpi {
    font-size: 11px;
    margin-bottom: 15px;
    color: var(--bg-color);
}
.spans {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 1rem;
    padding: 0.5rem;
}
#avOF {
    color: var(--text-blue);
    font-size: 12px;
    height: 30px;
    margin-top: 10px;
}
.divOF {
    position: relative;
    width: 90%;
    overflow: hidden;
    background-color: #e5e7eb;
    border-radius: 9999px;
    height: 0.75rem;
    margin-left: 9px;

    margin-top: 11px;
}
.subDivOf {
    background-color: #347abc;
    height: 0.75rem;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}
.arret {
    background-color: var(--bg);
    box-shadow: 0px 1px 1px 3px rgb(238, 238, 238);
    padding: 5%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    width: 199px;
    margin-left: 0px;
    text-align: left;
    height: 50px;
    margin-top: 17px;
}
.arretIcon {
    width: 24px;
    height: 24px;
    position: relative;
    top: 32%;
}
.spanDer {
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    color: var(--bg-color);
}
.arretSpan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8px;
}
.percentageLine {
    position: absolute;
    height: 150%; /* adjust this value according to your desired height */
    border-left: 3px solid #000;
    top: 50%;
    transform: translateY(-50%);
}

.percentageText {
    color: white;
    font-size: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}
