:root {
    --section-height: 12rem;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Calibri', sans-serif;
    word-wrap: break-word;
}

.section {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
    height: var(--section-height);
    padding: 0.5rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.machine {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
    height: var(--section-height);
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.state_btn {
    background-color: #92d050;
    border: none;
    color: #000;
}

.state_btn > span {
    display: block;
    transform: rotate(-90deg);
    font-size: 0.64rem;
}

.bloc1 {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}

.bloc2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100%;
}

.title {
    font-size: 0.75rem;
    font-weight: 900;
    color: #696969;
    padding: 2px 5px;
}

.title_machine {
    font-size: 0.6rem;
    font-weight: bold;
    color: #000;
    display: flex;
    align-items: center;
    padding: 0.4rem;
    height: 10%;
}

.machineImage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
}

.imageMachine {
    width: 100%;
    height: auto;
}

.user {
    font-size: 10px;
    width: 100%;
    color: var(--bg-color);
    display: flex;
    align-items: center;
    padding: 0.2rem;
    height: 10%;
}

.iconUser {
    width: 6%;
    height: auto;
}

.user > * {
    margin: 0 10px;
}

.blocKpi {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.blocTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 0.35rem;
    color: #002060;
}

.kpiContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.kpiContent {
    height: 50%;
    width: 80%;
}

.kpi {
    font-size: 0.4rem;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.subKpi {
    font-size: 0.3rem;
    padding: 0.2rem 0;
    margin: 0 0.1rem 0 0;
}

.kpiValue {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.35rem;
    font-weight: bold;
    height: 100%;
    width: 25%;
    border-radius: 5px;
}

.alert {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 0.35rem;
    text-align: center;
    padding: 0.3rem;
    height: max-content;
    width: 3rem;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.25);
}

.alertValue {
    font-weight: bold;
    padding-bottom: 2px;
}

.titreImageOf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    border-bottom: 1px solid #c9c9c9;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.kpis {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5rem;
}

.iconOf {
    position: absolute;
    right: 3%;
    margin-top: 2%;
    width: 6%;
    height: auto;
}

.of {
    width: 100%;
    height: 30%;
    margin: 1rem 0 0 1rem;
}

.of > div {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.TM {
    background: #a8df63;
    padding: 11px;
    font-size: 11px;
    font-weight: bold;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 50%;
    height: 0.2rem;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.TA {
    background: red;
    color: white;
    padding: 11px;
    font-size: 11px;
    font-weight: bold;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 50%;
    height: 0.2rem;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.T_text {
    padding-inline: 11px;
    font-size: 0.3rem;
    display: inline-block;
    width: 50%;
    text-align: center;
}

.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    border: 3px solid rgb(236, 236, 236);
    box-sizing: border-box;
}

.progress-bar {
    height: 15px;
    position: relative;
    background-color: #5faa1c;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.3s ease-in-out;
}

.progress-label {
    color: white;
    font-size: 0.42rem;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.4rem;
}

.select {
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
    background-color: white;
    color: black;
    padding: 0.2rem 2.2rem 0.2rem 0.2rem;
    font-size: 0.4rem;
    appearance: none;
}

.time {
    font-size: 0.4rem;
    display: flex;
    justify-content: flex-end;
    padding: 0.2rem;
}
